.venv/
__pycache__/

# Ignore everything
# *

# But not these files
!.gitignore
!manager.py
!todo.md
!requirements.txt

.env

*.yaml
!.pre-commit-config.yaml
*.sh
*.txt

branches/
logs/
old/
.vscode/
experiments/
